spring:
  application:
    name: acc-franchise-api

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      enabled: true
      initial-size: ${DB_POOL_INITIAL_SIZE:2}
      max-size: ${DB_POOL_MAX_SIZE:10}
      max-idle-time: ${DB_POOL_MAX_IDLE_TIME:30s}
      validation-query: SELECT 1

server:
  port: ${SERVER_PORT:8091}

logging:
  level:
    root: INFO
    org.springframework.r2dbc: DEBUG
    org.mariadb.r2dbc: DEBUG
